body{
  background-color:#FFFFEA;
}

.blue{
  background: #A0CED9;
}

#logo{
  height: 100px;
  width: 100px;
}

.page {
  margin: 50px auto;
  max-width: 400px;
  background-color: #C8E7EE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  max-width: 100%;
}

.page h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.form input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #006F8F;
}


