.page {
  background-color: #C8E7EE;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
}

.page h2 {
  color: #333;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #666;
}


